<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="Script/lib/jquery-1.8.3.min.js"></script>
    <script src="Script/lib/angular.js"></script>
    <title>Demo</title>
</head>
<body>
    <div ng-app="testApp">
        <div ng-controller="testController">
            Data: {{Data}}<br />
            Data: {{NewData}}<br />
            Data: <input ng-model="NewData" /><br />
            <input type="button" value="Update" ng-click="UpdateData()" />
            <input type="button" value="Get" ng-click="GetUpdateData()" />
        </div>
    </div>
    <script src="Script/index/app.js"></script>
    <script src="Script/index/service.js"></script>
    <script src="Script/index/controller.js"></script>
</body>
</html>
